{% extends 'layouts/base.html' %}

{% block content %}

<div class="container table-responsive py-5">
  <table class="table table-bordered table-hover">
    <thead class="">
      <tr class="">
        <th scope="col">Check</th>
        <th scope="col">1</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Ism</th>
        <th scope="col">Ismoil</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Mahsulot nomi</th>
        <th scope="col">Konditsioner</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">To'lov muddati</th>
        <th scope="col">24</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Olingan sana</th>
        <th scope="col">21.08.2023	</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Boshlang'ich to'lov</th>
        <th scope="col">1.000.000</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Nechanchi to'lov</th>
        <th scope="col">1</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Opshi to'lov</th>
        <th scope="col">15.000.000</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Tel</th>
        <th scope="col">+998(90)122-32-82</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col"><button class="btn btn-danger">O'chirish</button></th>
        <th scope="col"><button class="btn btn-warning">Tahrirlash</button></th>
      </tr>
    </thead>      
    
  </table>
  
</div>

{% endblock %}