{% extends 'layouts/base.html' %}

{% block content %}

<div class="container table-responsive py-5">
<table class="table table-bordered table-hover">
    <thead class="bg-success">
    <tr class="text-white">
        <th scope="col">Check</th>
        <th scope="col">Ism</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Ismoil</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Ibrohim</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Jamshid</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>Abdulloh</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
    <tr>
        <th scope="row">5</th>
        <td>Abdurrohman</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
    <tr>
        <th scope="row">6</th>
        <td>Ismoil</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
    <tr>
        <th scope="row">7</th>
        <td>Ibrohim</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
    <tr>
        <th scope="row">8</th>
        <td>Jamshid</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
    <tr>
        <th scope="row">9</th>
        <td>Abdulloh</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
    <tr>
        <th scope="row">10</th>
        <td>Abdurrohman</td>
        <td><a href="{% url 'detail' %}"><button class="btn btn-outline-success">Batafsil</button></a></td>
    </tr>
   

    </tbody>
</table>
</div>
{% endblock %}